
        @import url('https://fontlibrary.org/face/gidole-regular');
        
        div.full-width {
            left: 0;
            width: 100%;
        }
        div.bg-img {
            filter: contrast(0.8);
            -webkit-filter: contrast(0.8);
        }
        body {
            text-align: center;
            font-family: 'GidoleRegular';
            color: #4b4b4b;
        }
        .header {
            color: white;
        }
        .header h1, .header h2 {
            text-transform: uppercase;
            font-weight: bold;
        }
        .header h1 {
            background-color: #53cd9c;
            display: inline;
            padding: 20px;
            line-height: 2.2;
            font-size: 3em;
            letter-spacing: 20px;
        }
        .header h3 {
            font-weight: 100;
        }
        
        .button {
            text-transform: uppercase;
            font-weight: 100;
            color: white;
            background-color: #53cd9c;
            line-height: 3;
        }
        .button.white {
            background-color: white;
            color: #4b4b4b;
        }
    
    div.nav {
        color: white;
        text-transform: uppercase;
    }
    .nav li {
        list-style: none;
        display: inline-block;
        padding: 15px;
        cursor: pointer;
    }
    .picture-bg {
        color: white;
    }
    
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1465489320080-43 {
            min-height: 390px; 
            width: 294px; 
            top: 694px; 
            left: 1px; 
            background-color: rgba(231,231,231,1); 
        }
        .background-initial {
            background-color: transparent; 
            top: 5px; 
            left: 465px; 
            width: 960px; 
            min-height: 6300px; 
        }
        .silex-id-1465466601968-0 {
            min-height: 240px; 
            width: 558px; 
            top: 148px; 
            left: 181px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465466601968-0 {
            top: 0px; 
            left: 11px; 
            width: 423px; 
            min-height: 182px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465466727629-1 {
            min-height: 47px; 
            width: 134px; 
            top: 468px; 
            left: 337px; 
        }
        .silex-id-1465466748759-2 {
            min-height: 58px; 
            width: 134px; 
            top: 100px; 
            left: 100px; 
        }
        .silex-id-1465466801232-4 {
            min-height: 47px; 
            width: 97px; 
            top: 468px; 
            left: 497px; 
        }
        .silex-id-1465466883063-5 {
            min-height: 78px; 
            width: 960px; 
            top: 625px; 
            left: -2px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465466883063-5 {
            top: 231px; 
            left: 11px; 
            width: 423px; 
            min-height: 178px; 
        }
        }.silex-id-1465466932973-6 {
            min-height: 203px; 
            width: 739px; 
            top: 754px; 
            left: 111px; 
        }
        .silex-id-1465466957804-7 {
            min-height: 46px; 
            width: 135px; 
            top: 991px; 
            left: 402px; 
        }
        .silex-id-1465466987435-8 {
            min-height: 203px; 
            width: 739px; 
            top: 1139px; 
            left: 100px; 
        }
        .silex-id-1465467051246-9 {
            min-height: 214px; 
            width: 739px; 
            top: 1356px; 
            left: 102px; 
        }
        .silex-id-1465467131521-10 {
            min-height: 214px; 
            width: 739px; 
            top: 1593px; 
            left: 100px; 
        }
        .silex-id-1465467175975-11 {
            min-height: 214px; 
            width: 739px; 
            top: 1822px; 
            left: 103px; 
        }
        .silex-id-1465467207085-12 {
            min-height: 214px; 
            width: 739px; 
            top: 2052px; 
            left: 102px; 
        }
        .silex-id-1465467207086-13 {
            min-height: 214px; 
            width: 739px; 
            top: 2289px; 
            left: 100px; 
        }
        .silex-id-1465467207092-14 {
            min-height: 214px; 
            width: 739px; 
            top: 2518px; 
            left: 103px; 
        }
        .silex-id-1465467258395-16 {
            min-height: 203px; 
            width: 739px; 
            top: 2760px; 
            left: 102px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467258395-16 {
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465467307604-17 {
            min-height: 181px; 
            width: 238px; 
            top: 2985px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467307604-17 {
            top: 2472px; 
            left: 11px; 
            width: 424px; 
            min-height: 187px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465467342551-18 {
            min-height: 181px; 
            width: 238px; 
            top: 2984px; 
            left: 354px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467342551-18 {
            top: 2666px; 
            left: 11px; 
            width: 423px; 
            min-height: 188px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465467353782-19 {
            min-height: 181px; 
            width: 238px; 
            top: 2986px; 
            left: 614px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467353782-19 {
            top: 2860px; 
            left: 11px; 
            width: 423px; 
            min-height: 187px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258642-21 {
            min-height: 203px; 
            width: 739px; 
            top: 3226px; 
            left: 102px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258642-21 {
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258662-22 {
            min-height: 181px; 
            width: 238px; 
            top: 3451px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258662-22 {
            top: 3288px; 
            left: 11px; 
            width: 423px; 
            min-height: 188px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258664-23 {
            min-height: 181px; 
            width: 238px; 
            top: 3450px; 
            left: 354px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258664-23 {
            top: 3482px; 
            left: 11px; 
            width: 423px; 
            min-height: 188px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258665-24 {
            min-height: 181px; 
            width: 238px; 
            top: 3452px; 
            left: 614px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258665-24 {
            top: 3676px; 
            left: 11px; 
            width: 423px; 
            min-height: 181px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477372671-26 {
            min-height: 203px; 
            width: 739px; 
            top: 3681px; 
            left: 98px; 
        }
        .silex-id-1465477397939-27 {
            min-height: 203px; 
            width: 739px; 
            top: 3995px; 
            left: 102px; 
        }
        .silex-id-1465477454464-28 {
            min-height: 203px; 
            width: 739px; 
            top: 4441px; 
            left: 98px; 
        }
        .silex-id-1465477486469-29 {
            min-height: 203px; 
            width: 739px; 
            top: 4979px; 
            left: 102px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477486469-29 {
            background-color: rgba(75,75,75,1); 
            top: 4839px; 
            left: 11px; 
            width: 423px; 
            min-height: 117px; 
        }
        }.silex-id-1465477571869-31 {
            min-height: 181px; 
            width: 238px; 
            top: 5181px; 
            left: 354px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477571869-31 {
            background-color: rgba(75,75,75,1); 
            top: 5107px; 
            left: 11px; 
            width: 423px; 
            min-height: 114px; 
        }
        }.silex-id-1465477571870-32 {
            min-height: 181px; 
            width: 238px; 
            top: 5183px; 
            left: 614px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477571870-32 {
            background-color: rgba(75,75,75,1); 
            top: 5240px; 
            left: 11px; 
            width: 423px; 
            min-height: 114px; 
        }
        }.silex-id-1465477571868-30 {
            min-height: 181px; 
            width: 238px; 
            top: 5182px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477571868-30 {
            background-color: rgba(75,75,75,1); 
            top: 4975px; 
            left: 11px; 
            width: 423px; 
            min-height: 114px; 
        }
        }.silex-id-1473701162090-2 {
            min-height: 350px; 
            width: 350px; 
            top: 5433px; 
            left: 449px; 
            background-color: rgba(231,231,231,1); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1473701162090-2 {
            top: 5887px; 
            left: 11px; 
            width: 423px; 
            min-height: 354px; 
        }
        }.silex-id-1465477721605-33 {
            min-height: 348px; 
            width: 296px; 
            top: 5401px; 
            left: 98px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477721605-33 {
            background-color: rgba(75,75,75,1); 
            top: 5372px; 
            left: 11px; 
            width: 423px; 
            min-height: 352px; 
        }
        }.silex-id-1465477779351-34 {
            min-height: 124px; 
            width: 405px; 
            top: 5947px; 
            left: 283px; 
        }
        .silex-id-1442914589168-2 {
            min-height: 50px; 
            width: 400px; 
            top: 635px; 
            left: 6px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            min-height: 28px; 
            width: 250px; 
            top: 13px; 
            left: 80px; 
        }
        .silex-id-1465478043797-35 {
            min-height: 648px; 
            width: 947px; 
            top: 0px; 
            left: 0px; 
            background-color: rgba(75,75,75,1); 
            background-image: url('../assets/space01.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center center; 
            background-attachment: fixed; 
        }
        .silex-id-1473702233976-3 {
            min-height: 22px; 
            width: 326px; 
            top: 605px; 
            left: 11px; 
        }
        .silex-id-1465478794933-37 {
            min-height: 74px; 
            width: 449px; 
            top: 632px; 
            left: 7px; 
            background-color: rgba(75,75,75,1); 
        }
        .silex-id-1465478880491-38 {
            min-height: 901px; 
            width: 1231px; 
            top: 2754px; 
            left: 0px; 
            background-color: rgba(75,75,75,1); 
            background-image: url('../assets/space02.jpg'); 
            background-size: cover; 
            background-position: center center; 
            background-attachment: fixed; 
        }
        .silex-id-1465479260507-39 {
            min-height: 291px; 
            width: 294px; 
            top: 3656px; 
            left: 1px; 
            background-color: rgba(231,231,231,1); 
        }
        .silex-id-1465479314251-40 {
            min-height: 680px; 
            width: 421px; 
            top: 4411px; 
            left: 0px; 
            background-color: rgba(231,231,231,1); 
        }
        .silex-id-1465485865926-41 {
            min-height: 972px; 
            width: 421px; 
            top: 4935px; 
            left: 0px; 
            background-color: rgba(75,75,75,1); 
            background-image: url('../assets/space03.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center center; 
            background-attachment: fixed; 
        }
    