
        @import url('https://fontlibrary.org/face/gidole-regular');
        
        body.enable-mobile {
            padding: 0;
        }
        div.full-width {
            left: 0;
            width: 100%;
        }
        div.bg-img {
            filter: contrast(0.8);
            -webkit-filter: contrast(0.8);
        }
        body {
            text-align: center;
            font-family: 'GidoleRegular';
            color: #4b4b4b;
        }
        .header {
            color: white;
        }
        .header h1, .header h2 {
            text-transform: uppercase;
            font-weight: bold;
        }
        .header h1 {
            background-color: #53cd9c;
            display: inline;
            padding: 20px;
            line-height: 2.2;
            font-size: 3em;
            letter-spacing: 20px;
        }
        .header h3 {
            font-weight: 100;
        }
        
        .button {
            text-transform: uppercase;
            font-weight: 100;
            color: white;
            background-color: #53cd9c;
            line-height: 3;
        }
        .button.white {
            background-color: white;
            color: #4b4b4b;
        }
    
    div.nav {
        color: white;
        text-transform: uppercase;
    }
    .nav li {
        list-style: none;
        display: inline-block;
        padding: 15px;
        cursor: pointer;
        line-height: 0;
    }
    .picture-bg {
        color: white;
    }
    .nav a.active-menu {
       color: #53cd9c;
    }
    
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1488365138615-7 {
            top: 0px; 
            left: 0px; 
            background-color: rgba(75,75,75,1); 
            background-image: url('../assets/space01.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center center; 
            background-attachment: fixed; 
        }
        .silex-id-1488365138614-6 {
            min-height: 648px; 
            background-color: transparent; 
        }
        .silex-id-1465466601968-0 {
            min-height: 240px; 
            width: 558px; 
            top: 144px; 
            left: 181px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465466601968-0 {
            top: 0px; 
            left: 11px; 
            width: 423px; 
            min-height: 182px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465466727629-1 {
            min-height: 47px; 
            width: 134px; 
            top: 464px; 
            left: 337px; 
        }
        .silex-id-1465466801232-4 {
            min-height: 47px; 
            width: 97px; 
            top: 464px; 
            left: 497px; 
        }
        .silex-id-1473702233976-3 {
            min-height: 22px; 
            width: 326px; 
            top: 616px; 
            left: 11px; 
        }
        .silex-id-1488364699113-3 {
            top: 630px; 
            left: 0px; 
            background-color: rgba(75,75,75,1); 
        }
        .silex-id-1488364699112-2 {
            min-height: 61px; 
            background-color: transparent; 
        }
        .silex-id-1465466883063-5 {
            min-height: 62px; 
            width: 960px; 
            top: 1px; 
            left: 0px; 
            background-color: rgba(75,75,75,1); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465466883063-5 {
            top: 231px; 
            left: 11px; 
            width: 423px; 
            min-height: 178px; 
        }
        }.silex-id-1488364565046-1 {
            top: 0px; 
            left: 0px; 
            background-color: rgba(231,231,231,1); 
        }
        .silex-id-1488364565045-0 {
            min-height: 390px; 
            background-color: transparent; 
        }
        .silex-id-1465466932973-6 {
            min-height: 203px; 
            width: 739px; 
            top: 51px; 
            left: 111px; 
        }
        .silex-id-1465466957804-7 {
            min-height: 46px; 
            width: 135px; 
            top: 288px; 
            left: 402px; 
        }
        .silex-id-1488365471671-9 {
            top: 1099px; 
            left: 0px; 
        }
        .silex-id-1488365471670-8 {
            min-height: 1655px; 
            background-color: transparent; 
        }
        .silex-id-1465466987435-8 {
            min-height: 203px; 
            width: 739px; 
            top: 34px; 
            left: 100px; 
        }
        .silex-id-1465467051246-9 {
            min-height: 214px; 
            width: 739px; 
            top: 251px; 
            left: 102px; 
        }
        .silex-id-1465467131521-10 {
            min-height: 214px; 
            width: 739px; 
            top: 488px; 
            left: 100px; 
        }
        .silex-id-1465467175975-11 {
            min-height: 214px; 
            width: 739px; 
            top: 717px; 
            left: 103px; 
        }
        .silex-id-1465467207085-12 {
            min-height: 214px; 
            width: 739px; 
            top: 947px; 
            left: 102px; 
        }
        .silex-id-1465467207086-13 {
            min-height: 214px; 
            width: 739px; 
            top: 1184px; 
            left: 100px; 
        }
        .silex-id-1465467207092-14 {
            min-height: 214px; 
            width: 739px; 
            top: 1413px; 
            left: 103px; 
        }
        .silex-id-1488365537239-11 {
            top: 2256px; 
            left: NaNpx; 
            background-image: url('../assets/space02.jpg'); 
            background-size: cover; 
            background-attachment: fixed; 
        }
        .silex-id-1488365537239-10 {
            min-height: 901px; 
            background-color: transparent; 
        }
        .silex-id-1465467258395-16 {
            min-height: 203px; 
            width: 739px; 
            top: 3px; 
            left: 102px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467258395-16 {
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465467307604-17 {
            min-height: 181px; 
            width: 238px; 
            top: 228px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467307604-17 {
            top: 2472px; 
            left: 11px; 
            width: 424px; 
            min-height: 187px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465467342551-18 {
            min-height: 181px; 
            width: 238px; 
            top: 227px; 
            left: 354px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467342551-18 {
            top: 2666px; 
            left: 11px; 
            width: 423px; 
            min-height: 188px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465467353782-19 {
            min-height: 181px; 
            width: 238px; 
            top: 229px; 
            left: 614px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465467353782-19 {
            top: 2860px; 
            left: 11px; 
            width: 423px; 
            min-height: 187px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258642-21 {
            min-height: 203px; 
            width: 739px; 
            top: 469px; 
            left: 102px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258642-21 {
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258662-22 {
            min-height: 181px; 
            width: 238px; 
            top: 694px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258662-22 {
            top: 3288px; 
            left: 11px; 
            width: 423px; 
            min-height: 188px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258664-23 {
            min-height: 181px; 
            width: 238px; 
            top: 693px; 
            left: 354px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258664-23 {
            top: 3482px; 
            left: 11px; 
            width: 423px; 
            min-height: 188px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1465477258665-24 {
            min-height: 181px; 
            width: 238px; 
            top: 695px; 
            left: 614px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477258665-24 {
            top: 3676px; 
            left: 11px; 
            width: 423px; 
            min-height: 181px; 
            background-color: rgba(75,75,75,1); 
        }
        }.silex-id-1488365629067-13 {
            top: 3495px; 
            left: NaNpx; 
            background-color: rgba(231,231,231,1); 
        }
        .silex-id-1488365629067-12 {
            min-height: 291px; 
            background-color: transparent; 
        }
        .silex-id-1465477372671-26 {
            min-height: 203px; 
            width: 739px; 
            top: 54px; 
            left: 98px; 
        }
        .silex-id-1488365682509-15 {
            top: 3946px; 
            left: 0px; 
        }
        .silex-id-1488365682508-14 {
            min-height: 463px; 
            background-color: transparent; 
        }
        .silex-id-1465477397939-27 {
            min-height: 203px; 
            width: 739px; 
            top: 126px; 
            left: 102px; 
        }
        .silex-id-1488365701489-17 {
            top: 4409px; 
            left: 0px; 
            background-color: rgba(231,231,231,1); 
        }
        .silex-id-1488365701489-16 {
            min-height: 525px; 
            background-color: transparent; 
        }
        .silex-id-1465477454464-28 {
            min-height: 203px; 
            width: 739px; 
            top: 176px; 
            left: 98px; 
        }
        .silex-id-1488365805975-19 {
            top: 5657px; 
            left: NaNpx; 
            background-color: rgba(75,75,75,1); 
            background-image: url('../assets/space03.jpg'); 
            background-size: cover; 
            background-attachment: fixed; 
        }
        .silex-id-1488365805974-18 {
            min-height: 972px; 
            background-color: transparent; 
        }
        .silex-id-1465477486469-29 {
            min-height: 203px; 
            width: 739px; 
            top: 53px; 
            left: 102px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477486469-29 {
            background-color: rgba(75,75,75,1); 
            top: 4839px; 
            left: 11px; 
            width: 423px; 
            min-height: 117px; 
        }
        }.silex-id-1465477571869-31 {
            min-height: 181px; 
            width: 238px; 
            top: 255px; 
            left: 354px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477571869-31 {
            background-color: rgba(75,75,75,1); 
            top: 5107px; 
            left: 11px; 
            width: 423px; 
            min-height: 114px; 
        }
        }.silex-id-1465477571870-32 {
            min-height: 181px; 
            width: 238px; 
            top: 257px; 
            left: 614px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477571870-32 {
            background-color: rgba(75,75,75,1); 
            top: 5240px; 
            left: 11px; 
            width: 423px; 
            min-height: 114px; 
        }
        }.silex-id-1465477571868-30 {
            min-height: 181px; 
            width: 238px; 
            top: 256px; 
            left: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477571868-30 {
            background-color: rgba(75,75,75,1); 
            top: 4975px; 
            left: 11px; 
            width: 423px; 
            min-height: 114px; 
        }
        }.silex-id-1473701162090-2 {
            min-height: 350px; 
            width: 350px; 
            top: 507px; 
            left: 449px; 
            background-color: rgba(231,231,231,1); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1473701162090-2 {
            top: 5887px; 
            left: 11px; 
            width: 423px; 
            min-height: 354px; 
        }
        }.silex-id-1465477721605-33 {
            min-height: 348px; 
            width: 296px; 
            top: 475px; 
            left: 98px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1465477721605-33 {
            background-color: rgba(75,75,75,1); 
            top: 5372px; 
            left: 11px; 
            width: 423px; 
            min-height: 352px; 
        }
        }.silex-id-1488365905062-21 {
            top: 12316px; 
            left: 0px; 
        }
        .silex-id-1488365905062-20 {
            min-height: 334px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1465477779351-34 {
            min-height: 124px; 
            width: 405px; 
            top: 101px; 
            left: 283px; 
        }
        .silex-id-1442914589168-2 {
            min-height: 50px; 
            width: 400px; 
            top: 635px; 
            left: 6px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            min-height: 28px; 
            width: 250px; 
            top: 13px; 
            left: 80px; 
        }
    